# sort_values

In [2]:
import pandas as pd
import os

## VisualBERTCoco

In [12]:
path="/Users/jl/Desktop/TFM/approach_TFM/ensemble"
VisualBERTCoco_dev_seen_run_val=pd.read_csv(os.path.join(path, "results/VisualBERTCoco_dev_seen_run_val.csv"))
dev_seen=pd.read_json(os.path.join(path, "annotations/dev_seen.jsonl"), lines = True)

In [23]:
VisualBERTCoco_dev_seen_run_val_sort = dev_seen['id']

In [36]:
pd.merge(VisualBERTCoco_dev_seen_run_val_sort, VisualBERTCoco_dev_seen_run_val)

        id     proba  label
0     8291  0.025689      0
1    46971  0.023448      0
2     3745  0.000133      0
3    83745  0.946633      1
4    80243  0.993831      1
..     ...       ...    ...
495  83675  0.000060      0
496  37198  0.000058      0
497  48670  0.000091      0
498   9863  0.000137      0
499  97320  0.000087      0

[500 rows x 3 columns]

In [47]:
pd.merge(VisualBERTCoco_dev_seen_run_val_sort, VisualBERTCoco_dev_seen_run_val).to_csv("VisualBERTCoco_dev_seen_run_val_sort")

## VisualBERT

In [46]:
path="/Users/jl/Desktop/TFM/approach_TFM/ensemble"
VisualBERT_dev_seen=pd.read_csv(os.path.join(path, "results/VisualBERT_dev_seen.csv"))
dev_seen=pd.read_json(os.path.join(path, "annotations/dev_seen.jsonl"), lines = True)

In [48]:
pd.merge(VisualBERTCoco_dev_seen_run_val_sort, VisualBERT_dev_seen).to_csv("VisualBERT_dev_seen")