# Rule Racism Text Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

ERNIE_prob.ipynb                ensemble.py
HM_ensamble.ipynb               fairface.json
annotations                     fairface_.json
box_annos.race.json             results
ens.sh                          rule_racism_text_analysis.ipynb
ens_v3.py                       test_unseen.jsonl
ens_vilio.py

In [2]:
test_unseen = pd.read_json("annotations/train.jsonl", lines = True)
fairface = pd.read_json("fairface21062022.json")
fairface2 = pd.read_json("fairface.json")

In [3]:
id_in_test = []
for i in fairface['id'].values:
    if i in test_unseen['id'].values:
        id_in_test.append(i)

In [4]:
len(id_in_test)

5810

In [5]:
len(fairface['id'])

8139

In [6]:
id_in_test = []
for i in fairface2['id'].values:
    if not i in fairface['id'].values:
        id_in_test.append(i)

In [7]:
len(id_in_test) # id que estan en fairface2 i no en fairface

1260

In [8]:
len(fairface2['id'])

5777

In [9]:
(fairface['id'].values)

array([90138, 59143, 59473, ..., 93750, 75840, 34678])

# DF con los `id_in_test` que no estan contenidos en fairface2106...

In [18]:
newFairFace = []
for i in range(len(fairface2['id'])):
    if fairface2['id'][i] in id_in_test:
        newFairFace.append(fairface2.iloc[i])
        
newFairFace = pd.DataFrame(newFairFace)

In [19]:
newFairFace

,id,face_boxes,face_race,face_race4,face_gender
2,13852,"[[(371, 112) (489, 230)]]",[Middle Eastern],[Indian],[Male]
10,67384,"[[(198, 66) (225, 94)]]",[White],[White],[Female]
13,64805,"[[(230, 458) (434, 662)]]",[White],[White],[Male]
15,35674,"[[(281, 48) (328, 95)]]",[White],[White],[Male]
24,50398,"[[(272, 219) (370, 317)]]",[Middle Eastern],[White],[Male]
...,...,...,...,...,...
5759,72489,"[[(181, 107) (262, 189)]]",[White],[White],[Male]
5761,62105,"[[(500, 122) (646, 268)], [(65, 92) (182, 209)...","[White, Southeast Asian, Black]","[White, Asian, Black]","[Female, Male, Female]"
5767,21607,"[[(433, 59) (465, 92)]]",[White],[White],[Male]
5772,52617,"[[(438, 483) (506, 551)]]",[White],[White],[Male]
5776,79234,"[[(279, 504) (347, 572)]]",[White],[White],[Male]

In [20]:
fairface

,id,face_boxes,face_race,face_race4,face_gender
0,90138,"[[(159, 184) (404, 429)], [(70, 79) (168, 178)]]","[White, White]","[White, White]","[Male, Male]"
1,59143,"[[(186, 314) (328, 455)], [(246, 110) (286, 14...","[Black, Black, White, Latino_Hispanic]","[Indian, Black, White, Indian]","[Female, Female, Male, Female]"
2,59473,"[[(262, 61) (330, 129)]]",[Indian],[Indian],[Female]
3,26189,"[[(128, 209) (373, 454)]]",[White],[White],[Female]
4,71534,"[[(50, 277) (343, 571)], [(163, 64) (202, 103)]]","[White, Black]","[White, Black]","[Female, Female]"
...,...,...,...,...,...
8134,9518,"[[(302, 98) (364, 161)], [(612, 71) (786, 246)...","[White, White, White, White]","[White, Asian, White, White]","[Male, Female, Male, Female]"
8135,34821,"[[(161, 100) (236, 176)], [(48, 124) (133, 209)]]","[White, White]","[White, White]","[Female, Male]"
8136,93750,"[[(380, 78) (488, 187)]]",[Middle Eastern],[White],[Male]
8137,75840,"[[(156, 86) (212, 143)], [(198, 80) (333, 217)]]","[Indian, Indian]","[Indian, Indian]","[Female, Male]"
8138,34678,"[[(297, 92) (365, 159)]]",[White],[White],[Male]

In [23]:
fairface_tojsonl = pd.concat([fairface, newFairFace], ignore_index=True)

In [34]:
import json
with open('fairfaceNew.json', 'w') as fp:
    json.dump(fairface_tojsonl.to_json(orient='index'), fp,  indent=2)

In [32]:
fairface_tojsonl

,id,face_boxes,face_race,face_race4,face_gender
0,90138,"[[(159, 184) (404, 429)], [(70, 79) (168, 178)]]","[White, White]","[White, White]","[Male, Male]"
1,59143,"[[(186, 314) (328, 455)], [(246, 110) (286, 14...","[Black, Black, White, Latino_Hispanic]","[Indian, Black, White, Indian]","[Female, Female, Male, Female]"
2,59473,"[[(262, 61) (330, 129)]]",[Indian],[Indian],[Female]
3,26189,"[[(128, 209) (373, 454)]]",[White],[White],[Female]
4,71534,"[[(50, 277) (343, 571)], [(163, 64) (202, 103)]]","[White, Black]","[White, Black]","[Female, Female]"
...,...,...,...,...,...
9394,72489,"[[(181, 107) (262, 189)]]",[White],[White],[Male]
9395,62105,"[[(500, 122) (646, 268)], [(65, 92) (182, 209)...","[White, Southeast Asian, Black]","[White, Asian, Black]","[Female, Male, Female]"
9396,21607,"[[(433, 59) (465, 92)]]",[White],[White],[Male]
9397,52617,"[[(438, 483) (506, 551)]]",[White],[White],[Male]
9398,79234,"[[(279, 504) (347, 572)]]",[White],[White],[Male]

In [36]:
fairface_tojsonl.to_json("newFairFace2.json", orient='records')

In [37]:
ffjson = json.loads(fairface_tojsonl.to_json(orient='records'))

In [50]:
# Using a JSON string
with open('annotations_fairface.json', 'w') as outfile:
    outfile.write(fairface_tojsonl.to_json(orient='records',indent = 2))

In [42]:
with open('fairface30062022.json', 'w') as fp:
    json.dump(fairface_tojsonl.to_json(orient='records'), fp,  indent=2)