In [1]:
!python --version

Python 3.9.7

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
!ls

EnsembleV1_dev_seen_RA.csv
Find text and images duplicates-Confunders.ipynb
Predictions_Analysis.ipynb
annotations
annotations_fairface.json
annotations_with_tag_type
csv_freq_words
dev_seen.jsonl
dev_seen_htype.json
ensembled_dev_seen_SA.csv
hateful_analysis.ipynb
racism_rule_analyst.ipynb
results_analysis.ipynb

In [6]:
test_unseen=pd.read_json('annotations/test_unseen.jsonl',lines=True)
predict_test_unseen=pd.read_csv("ens0507_test_unseen_SA.csv")

In [17]:
test_unseen[(predict_test_unseen['label'] == test_unseen['label'])== True]

,id,img,label,text
0,15740,img/15740.png,1,when someone tells you how to bbq
1,38794,img/38794.png,1,when they say white folks don't know how to cook
3,71824,img/71824.png,1,okay here you go! you piece of shit!
4,4796,img/04796.png,1,xboxone farming 1619 simulator
5,75310,img/75310.png,1,how roaches be when you shut off the kitchen l...
...,...,...,...,...
1995,71352,img/71352.png,0,fighting for gay rights
1996,2164,img/02164.png,0,that feeling when you finish your homework in ...
1997,3587,img/03587.png,0,the day that shook new york city
1998,47839,img/47839.png,0,one of the first prototypes of the atom bomb
1999,34281,img/34281.png,0,today feels like a kinda day where i just wann...

In [21]:
cm_terms=[]
for i, label in enumerate(pred):
    if label == real[i]:
        if label == 1:
            cm_terms.append('TP')
        elif label == 0:
            cm_terms.append('TN')
        else:
            cm_terms.append('error')
        
    elif label != real[i]:
        if label == 1:
            cm_terms.append('FN')
        elif label == 0:
            cm_terms.append('FP')
        else:
            cm_terms.append('error')

IndentationError: expected an indented block (2642673054.py, line 2)

In [31]:
pd.concat([test_unseen['label'], predict_test_unseen['label']], axis=1).rename(columns={'label': 'real'})

      real  real
0        1     1
1        1     1
2        1     0
3        1     1
4        1     1
...    ...   ...
1995     0     0
1996     0     0
1997     0     0
1998     0     0
1999     0     0

[2000 rows x 2 columns]

In [63]:
def conf_matrx_termenology(ids, real, pred):
    cm_terms=[]
    for i, label in enumerate(pred):
        if label == real[i]:
            if label == 1:
                cm_terms.append('TP')
            elif label == 0:
                cm_terms.append('TN')
            else:
                cm_terms.append('error')

        elif label != real[i]:
            if label == 1:
                cm_terms.append('FP')
            elif label == 0:
                cm_terms.append('FN')
            else:
                cm_terms.append('error')
    # transform to df
    ids = pd.DataFrame(ids)
    real=pd.DataFrame(real).rename(columns={'label': 'real'})
    pred=pd.DataFrame(pred).rename(columns={'label':'predicted'})
    cm_terms=pd.DataFrame(cm_terms).rename(columns={0:'class'})
    result=pd.concat([ids, real, pred, cm_terms], axis=1)
    return result

In [64]:
conf_matrx_termenology(test_unseen['id'], 
                       test_unseen['label'], 
                       predict_test_unseen['label']).to_csv("reults_with_cm.csv", index=False)